@import "Inter/font-face.css";

:root {
  color-scheme: light dark;

  --bg: #fff;
  --text: #000;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt";
  font-size: 20px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background: var(--bg);
}

main {
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

  font-size: min(30vh, 40vw);

  color: var(--text);
}

#h {
  --width: 36vw;

  --r--light: #e39d93;
  --r--dark: #dc7178;
  --g--light: #a7a781;
  --g--dark: #817a60;
  --b--light: #7ba0c0;
  --b--dark: #527ea9;
}

#l {
  --width: 32vw;

  --r--light: #b31b38;
  --r--dark: #9f2436;
  --g--light: #40a48e;
  --g--dark: #006e52;
  --b--light: #69bbdd;
  --b--dark: #1578a7;
}

#a {
  --width: 20vw;

  --r--light: #dba9b7;
  --r--dark: #ce8498;
  --g--light: #abafae;
  --g--dark: #686d6c;
  --b--light: #7fbfc5;
  --b--dark: #5d9ca4;
}

@media screen and (orientation: portrait) {
  #h {
    --width: 36vh;
  }

  #l {
    --width: 32vh;
  }

  #a {
    --width: 20vh;
  }
}

.blob {
  position: absolute;

  aspect-ratio: 1;
  width: var(--width);

  background-image: linear-gradient(
    to bottom,
    var(--accent--light) 0%,
    var(--accent--dark) 100%
  );
}

.eye {
  position: absolute;
  top: 15%;
  --inset: 9%;

  aspect-ratio: 1;
  width: 33%;
  border-radius: 50%;

  background: #fff;
  border: solid 4px #000;
  box-shadow: 3px 5px #fff;
}

.eye:first-child {
  right: var(--inset);
}

.eye:last-child {
  left: var(--inset);
}

.pupil {
  position: absolute;
  aspect-ratio: 1;
  width: 100%;

  transition: transform linear 100ms;
}

.pupil::after {
  content: "";
  position: absolute;
  left: 19%;

  aspect-ratio: 1;
  width: 62%;
  border-radius: 50%;

  background: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --text: #fff;
  }

  .blob {
    background-image: linear-gradient(
      to bottom,
      var(--accent--dark) 0%,
      var(--accent--light) 100%
    );
  }
}
