@import "Inter/font-face.css";

:root {
  --bg: #fff;
  --text: #000;
  --accent: #fb725f;
  color-scheme: light dark;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt";
  font-size: 20px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  position: relative;
  color: var(--text);
  background: conic-gradient(from 0.5turn at bottom center, #f1f2f4, #b9bdca);
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background: var(--accent);
  color: var(--text);
  text-shadow: none;
}

h1 {
  --padding: 0.4em;
  --offset: 0.3;
  position: relative;
  margin: 0 0 20vh;
  padding: var(--padding) calc(var(--padding) * var(--offset)) var(--padding)
    calc(var(--padding) * calc(2 - var(--offset)));
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  font-size: 18vw;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1em;
}

h1 span {
  user-select: none;
}

h1 strong {
  font-size: 1.16em;
  font-weight: 800;
  letter-spacing: 0.065em;
  z-index: -1;
}

h1::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  border: solid 0.03em var(--bg);
  z-index: -2;
}

canvas {
  position: absolute;
  left: 0;
  top: 6vh;
  z-index: -1;
  width: 100%;
  height: 68vh;
}

@media screen and (orientation: landscape) {
  h1 {
    margin-bottom: 1em;
    font-size: 16vh;
  }

  canvas {
    top: -3em;
    height: 100vh;
  }
}
